In [27]:
from src.assign_countries import make_transactions_with_countries
from src.clean_transactions import clean_transaction_data 
from src.engineer_features import EngineerFeatures
from src.model import MakeModel

Note that 'make_transactions_with_countries' is a computationally expensive procedure that joins the transaction and ip tables. It typically takes 20+ minutes. The step is displayed here, but there is dataframe containing the results of this process in the data folder under 'transactions_with_country.csv' for easy access.

In [ ]:
transaction_df_countries = make_transactions_with_countries()

In [28]:
clean_transaction_df = clean_transaction_data()

In [29]:
feat_eng_transaction_df = EngineerFeatures(clean_transaction_df)

In [30]:
feat_eng_transaction_df.multiple_accounts()

,user_id,signup_time,purchase_time,purchase_value,sex,age,class,country,source_Ads,source_Direct,source_SEO,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,browser_Safari,multiple_accounts
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,1,39,0,Japan,0,0,1,1,0,0,0,0,False
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,0,53,0,United States,1,0,0,1,0,0,0,0,False
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,1,53,1,United States,0,0,1,0,0,0,1,0,True
3,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,1,45,0,United States,1,0,0,0,0,0,0,1,False
4,159135,2015-05-21 06:03:03,2015-07-09 08:05:14,42,1,18,0,Canada,1,0,0,1,0,0,0,0,False
5,360585,2015-04-06 07:35:45,2015-05-25 17:21:14,27,1,34,0,United States,1,0,0,0,0,0,1,0,False
6,159045,2015-04-21 23:38:34,2015-06-02 14:01:54,30,0,43,0,China,0,0,1,0,0,1,0,0,False
7,182338,2015-01-25 17:49:49,2015-03-23 23:05:42,62,1,31,0,United States,1,0,0,0,0,1,0,0,False
8,199700,2015-07-11 18:26:54,2015-10-28 21:59:40,13,0,35,0,United States,1,0,0,0,0,0,0,1,False
9,299320,2015-03-03 19:17:07,2015-04-05 12:32:36,50,1,38,0,Brazil,0,1,0,0,0,0,0,1,False
10,31383,2015-02-01 01:06:17,2015-03-24 10:17:58,58,0,24,0,India,0,0,1,0,0,0,0,1,False
11,78986,2015-05-15 03:52:08,2015-08-11 02:29:47,57,1,23,0,United States,0,0,1,0,1,0,0,0,False
12,357386,2015-02-03 00:48:38,2015-03-24 18:27:23,40,1,24,0,Argentina,1,0,0,0,1,0,0,0,False
13,289172,2015-07-17 05:48:45,2015-11-12 22:08:11,46,0,53,0,United Kingdom,0,1,0,0,1,0,0,0,False
14,343378,2015-01-30 08:50:29,2015-04-22 15:11:45,47,0,24,0,China,0,0,1,1,0,0,0,0,False
15,370338,2015-01-08 11:47:29,2015-03-29 20:46:44,25,1,34,0,United States,1,0,0,0,0,1,0,0,False
16,171711,2015-01-11 01:51:15,2015-01-11 01:51:16,52,0,35,1,United States,0,1,0,0,0,1,0,0,True
17,59780,2015-01-04 22:32:33,2015-01-16 01:13:43,31,1,36,1,United States,0,0,1,0,1,0,0,0,True
18,176129,2015-01-28 12:53:51,2015-01-29 23:21:43,37,1,32,0,United States,1,0,0,0,0,1,0,0,False
19,100886,2015-07-12 14:14:04,2015-07-29 07:41:26,54,0,28,0,United States,0,0,1,1,0,0,0,0,False
20,221257,2015-05-29 17:55:17,2015-09-05 22:42:38,12,1,19,0,South Africa,0,0,1,0,0,1,0,0,False
21,151705,2015-01-07 03:44:53,2015-01-07 03:44:54,48,0,27,1,United States,0,0,1,1,0,0,0,0,True
22,399610,2015-04-03 20:06:51,2015-06-01 07:42:42,30,0,39,0,United States,0,0,1,0,1,0,0,0,False
23,396746,2015-08-05 23:50:35,2015-08-14 12:08:55,56,1,56,0,China,0,0,1,0,0,1,0,0,False
24,243817,2015-02-13 18:16:05,2015-04-23 17:44:27,72,0,32,0,Japan,0,1,0,1,0,0,0,0,False
25,262245,2015-01-03 03:29:05,2015-02-26 23:23:55,38,0,21,0,United States,1,0,0,0,0,1,0,0,True
26,256743,2015-06-12 19:11:32,2015-07-11 06:42:08,33,1,22,0,United States,0,0,1,0,0,1,0,0,False
27,306604,2015-02-09 13:01:40,2015-02-22 06:55:32,53,1,39,0,Germany,0,0,1,0,0,1,0,0,False
28,4435,2015-01-31 01:18:43,2015-04-14 09:33:26,27,1,35,0,United States,1,0,0,0,0,0,1,0,False
29,174879,2015-08-12 20:24:19,2015-09-09 03:39:58,56,1,30,0,China,1,0,0,0,1,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151082,44,2015-03-11 13:44:43,2015-06-26 05:45:06,33,0,33,1,unknown,0,1,0,1,0,0,0,0,False
151083,13111,2015-07-19 13:44:47,2015-09-24 10:24:29,60,1,33,0,unknown,0,0,1,1,0,0,0,0,False
151084,63092,2015-07-28 23:18:16,2015-11-06 22:42:24,43,0,23,0,unknown,1,0,0,0,0,1,0,0,False
151085,306720,2015-06-06 15:48:17,2015-06-10 18:45:10,72,1,28,0,unknown,0,0,1,0,0,1,0,0,False
151086,135861,2015-07-06 13:29:35,2015-08-30 03:43:08,19,0,55,0,unknown,1,0,0,0,0,1,0,0,False
151087,379057,2015-04-19 04:15:25,2015-08-15 20:35:47,28,0,28,0,unknown,0,0,1,1,0,0,0,0,False
151088,60801,2015-01-04 14:50:45,2015-04-21 07:44:12,22,1,25,0,unknown,1,0,0,0,0,0,1,0,True
151089,15872,2015-07-05 14:32:18,2015-08-12 02:02:31,43,0,30,0,unknown,0,0,1,0,0,1,0,0,False
151090,32782,2015-01-11 22:03:27,2015-01-11 22:03:28,64,1,29,1,unknown,0,0,1,1,0,0,0,0,True
151091,213096,2015-04-27 01:22:20,2015-06-16 10:07:35,26,0,30,0,unknown,1,0,0,0,0,1,0,0,True
151092,214530,2015-08-15 15:52:50,2015-09-12 11:09:56,11,0,28,0,unknown,0,0,1,0,0,0,0,1,False
151093,204821,2015-04-19 09:25:35,2015-05-04 17:28:53,12,0,37,0,unknown,0,0,1,1,0,0,0,0,True
151094,259571,2015-07-26 15:46:32,2015-09-04 22:05:24,18,1,30,0,unknown,1,0,0,1,0,0,0,0,False
151095,112040,2015-02-10 04:15:31,2015-04-29 12:07:11,62,1,53,0,unknown,0,1,0,0,0,1,0,0,False
151096,153825,2015-03-26 14:17:13,2015-04-25 02:38:44,12,1,32,0,unknown,1,0,0,0,0,1,0,0,False
151097,104057,2015-01-03 16:33:23,2015-04-29 07:26:33,20,0,46,0,unknown,0,0,1,1,0,0,0,0,False
151098,158929,2015-01-06 08:55:08,2015-03-10 09:32:47,16,1,29,0,unknown,0,0,1,0,0,1,0,0,False
151099,250145,2015-06-07 03:24:00,2015-09-26 14:09:55,19,1,25,0,unknown,0,0,1,0,0,0,0,1,False
151100,252773,2015-02-04 10:55:07,2015-04-08 22:35:42,39,0,35,0,unknown,0,0,1,0,0,1,0,0,False
151101,30801,2015-05-01 23:19:24,2015-08-19 23:36:20,86,1,41,0,unknown,1,0,0,1,0,0,0,0,False
151102,44754,2015-07-03 00:25:43,2015-07-07 21:12:43,33,1,37,0,unknown,0,0,1,0,0,0,0,1,False
151103,125343,2015-07-10 06:02:52,2015-07-28 11:02:04,10,1,24,0,unknown,0,0,1,1,0,0,0,0,False
151104,285692,2015-02-18 09:58:01,2015-04-11 12:39:45,10,1,31,0,unknown,1,0,0,0,0,1,0,0,False
151105,398834,2015-01-26 18:54:22,2015-04-06 21:08:47,21,0,42,0,unknown,1,0,0,0,0,1,0,0,False
151106,6328,2015-08-06 20:12:25,2015-08-15 05:28:34,79,1,33,0,unknown,1,0,0,0,0,1,0,0,False
151107,364012,2015-04-08 06:34:11,2015-07-07 16:57:37,52,1,44,0,unknown,0,0,1,1,0,0,0,0,True
151108,27502,2015-04-14 23:43:03,2015-06-24 10:42:00,43,0,30,0,unknown,0,1,0,0,0,0,1,0,False
151109,318557,2015-04-10 01:36:49,2015-05-14 07:17:23,55,0,49,0,unknown,1,0,0,1,0,0,0,0,False
151110,313804,2015-02-07 14:31:07,2015-03-02 19:20:25,48,0,31,0,unknown,0,0,1,0,1,0,0,0,True
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20,1,38,0,unknown,0,1,0,0,0,1,0,0,False

In [31]:
final_transaction_df = feat_eng_transaction_df.time_between()

In [32]:
final_transaction_df

,user_id,purchase_value,sex,age,class,country,source_Ads,source_Direct,source_SEO,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,browser_Safari,multiple_accounts,time_between_signup_purchase
0,22058,34,1,39,0,Japan,0,0,1,1,0,0,0,0,False,4506682.0
1,333320,16,0,53,0,United States,1,0,0,1,0,0,0,0,False,17944.0
2,1359,15,1,53,1,United States,0,0,1,0,0,0,1,0,True,1.0
3,221365,39,1,45,0,United States,1,0,0,0,0,0,0,1,False,4361461.0
4,159135,42,1,18,0,Canada,1,0,0,1,0,0,0,0,False,4240931.0
5,360585,27,1,34,0,United States,1,0,0,0,0,0,1,0,False,4268729.0
6,159045,30,0,43,0,China,0,0,1,0,0,1,0,0,False,3594200.0
7,182338,62,1,31,0,United States,1,0,0,0,0,1,0,0,False,4943753.0
8,199700,13,0,35,0,United States,1,0,0,0,0,0,0,1,False,9430366.0
9,299320,50,1,38,0,Brazil,0,1,0,0,0,0,0,1,False,2826929.0
10,31383,58,0,24,0,India,0,0,1,0,0,0,0,1,False,4439501.0
11,78986,57,1,23,0,United States,0,0,1,0,1,0,0,0,False,7598259.0
12,357386,40,1,24,0,Argentina,1,0,0,0,1,0,0,0,False,4297125.0
13,289172,46,0,53,0,United Kingdom,0,1,0,0,1,0,0,0,False,10253966.0
14,343378,47,0,24,0,China,0,0,1,1,0,0,0,0,False,7107676.0
15,370338,25,1,34,0,United States,1,0,0,0,0,1,0,0,False,6944355.0
16,171711,52,0,35,1,United States,0,1,0,0,0,1,0,0,True,1.0
17,59780,31,1,36,1,United States,0,0,1,0,1,0,0,0,True,960070.0
18,176129,37,1,32,0,United States,1,0,0,0,0,1,0,0,False,124072.0
19,100886,54,0,28,0,United States,0,0,1,1,0,0,0,0,False,1445242.0
20,221257,12,1,19,0,South Africa,0,0,1,0,0,1,0,0,False,8570841.0
21,151705,48,0,27,1,United States,0,0,1,1,0,0,0,0,True,1.0
22,399610,30,0,39,0,United States,0,0,1,0,1,0,0,0,False,5052951.0
23,396746,56,1,56,0,China,0,0,1,0,0,1,0,0,False,735500.0
24,243817,72,0,32,0,Japan,0,1,0,1,0,0,0,0,False,5959702.0
25,262245,38,0,21,0,United States,1,0,0,0,0,1,0,0,True,4737290.0
26,256743,33,1,22,0,United States,0,0,1,0,0,1,0,0,False,2460636.0
27,306604,53,1,39,0,Germany,0,0,1,0,0,1,0,0,False,1101232.0
28,4435,27,1,35,0,United States,1,0,0,0,0,0,1,0,False,6336883.0
29,174879,56,1,30,0,China,1,0,0,0,1,0,0,0,False,2358939.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151082,44,33,0,33,1,unknown,0,1,0,1,0,0,0,0,False,9216023.0
151083,13111,60,1,33,0,unknown,0,0,1,1,0,0,0,0,False,5776782.0
151084,63092,43,0,23,0,unknown,1,0,0,0,0,1,0,0,False,8724248.0
151085,306720,72,1,28,0,unknown,0,0,1,0,0,1,0,0,False,356213.0
151086,135861,19,0,55,0,unknown,1,0,0,0,0,1,0,0,False,4716813.0
151087,379057,28,0,28,0,unknown,0,0,1,1,0,0,0,0,False,10254022.0
151088,60801,22,1,25,0,unknown,1,0,0,0,0,0,1,0,True,9219207.0
151089,15872,43,0,30,0,unknown,0,0,1,0,0,1,0,0,False,3238213.0
151090,32782,64,1,29,1,unknown,0,0,1,1,0,0,0,0,True,1.0
151091,213096,26,0,30,0,unknown,1,0,0,0,0,1,0,0,True,4351515.0
151092,214530,11,0,28,0,unknown,0,0,1,0,0,0,0,1,False,2402226.0
151093,204821,12,0,37,0,unknown,0,0,1,1,0,0,0,0,True,1324998.0
151094,259571,18,1,30,0,unknown,1,0,0,1,0,0,0,0,False,3478732.0
151095,112040,62,1,53,0,unknown,0,1,0,0,0,1,0,0,False,6767500.0
151096,153825,12,1,32,0,unknown,1,0,0,0,0,1,0,0,False,2550091.0
151097,104057,20,0,46,0,unknown,0,0,1,1,0,0,0,0,False,9989590.0
151098,158929,16,1,29,0,unknown,0,0,1,0,0,1,0,0,False,5445459.0
151099,250145,19,1,25,0,unknown,0,0,1,0,0,0,0,1,False,9629155.0
151100,252773,39,0,35,0,unknown,0,0,1,0,0,1,0,0,False,5485235.0
151101,30801,86,1,41,0,unknown,1,0,0,1,0,0,0,0,False,9505016.0
151102,44754,33,1,37,0,unknown,0,0,1,0,0,0,0,1,False,420420.0
151103,125343,10,1,24,0,unknown,0,0,1,1,0,0,0,0,False,1573152.0
151104,285692,10,1,31,0,unknown,1,0,0,0,0,1,0,0,False,4502504.0
151105,398834,21,0,42,0,unknown,1,0,0,0,0,1,0,0,False,6056065.0
151106,6328,79,1,33,0,unknown,1,0,0,0,0,1,0,0,False,724569.0
151107,364012,52,1,44,0,unknown,0,0,1,1,0,0,0,0,True,7813406.0
151108,27502,43,0,30,0,unknown,0,1,0,0,0,0,1,0,False,6087537.0
151109,318557,55,0,49,0,unknown,1,0,0,1,0,0,0,0,False,2958034.0
151110,313804,48,0,31,0,unknown,0,0,1,0,1,0,0,0,True,2004558.0
151111,138208,20,1,38,0,unknown,0,1,0,0,0,1,0,0,False,3524493.0

In [33]:
model = MakeModel(final_transaction_df)

In [34]:
model.downsample_majority_class()

In [35]:
model.prepare_x_y()

In [36]:
model.split()

In [37]:
model.make_random_forest()

In [38]:
model.fit()

In [39]:
#evalutes the models performance on the test set from the balanced transaction dataframe created in this class instance

model.evaluate(.18, model.X_test, model.y_test)

recall score: 0.8930706999648259
precision_score: 0.587323617857969
true negatives: 1034, false positives: 1784, false negatives: 304, true positives: 2539